*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header{
	width: 100vw;
	height:auto;
	background:purple;
}


.logo {
	/*border: 2px solid black;
*/	height: 12vh;
	width: auto;
	display: inline-block;
	overflow: hidden;
	font-size: 30px;
	padding-top: 3vh;
}

.tt {
	color: orange;
}
.tarc{
	color: white;
}

nav{
/*	border:2px solid black;*/
	width: auto;
	height: : auto;
	font-size: 25px;
	display: inline-block;
	overflow: hidden;
	margin-left: 15vw;
	padding-top:6px;
	padding: 10PX;
	margin-bottom: 2vh;
}

ul li{
	display: inline-block;
	margin-left: 3vw;
	margin-bottom: 1vh;

}


li a{
	font-size: 20px;
	text-decoration: none;
	color: white;
	padding: 10PX;

}


ul li a:hover {
	border-bottom: 2px solid orange;
	color: orange;
}

.active a {
	border-bottom: 2px solid orange;
	color: orange;
}


.sign{
	padding: 10px;
	font-size: 25px;
	/*border:2px solid black;*/
	background: purple;
	border-radius:95px;
	width: 10vw;
	height: 6vh;
	margin-bottom: 5.5vh;
	display: inline-block;
	overflow: hidden;

}
.sign button{
	margin-left: 3vw;
	padding: 8px;
	padding-bottom: 2px;
}

.search{
	/*border:2px solid black;*/
	width: 14vw;
	height: : 10vh;
	padding: 10px;
	margin-bottom: 6vh;
	background: purple;
	border-radius: 95px;
	display: inline-block;
	overflow: hidden;
}
.search button{
	display: inline-block;
	overflow: hidden;
	background: white;

}

.src{
	display: inline-block;
	overflow: hidden;
	margin-left: 6vw;
}

.container{
	/*border: 2px;*/
	height: 85vh;
	width: 100vw;
	border-top-style: ridge;
	background:#800080;
	display:inline-block;
	overflow: hidden;

}




.container label{

	margin-left: 20vw;
}

.dtech{
	font-size: 30px;
	color: white;
	margin-left:10vw;
	margin-top: 15vh;
	text-decoration:blink;
	text-align:block;
}

.dtechdetails{

	font-size: 20px;
	color: white;
	text-align: center;
}

.gstart{
	background: white;
	width: 15vw;
	height: 8vh;
	margin-left: 42vw;
	margin-top: 10vw;
	border-radius: 10px 10px 10px 10px
}

.gstart button{
	background: white;
	width: 15vw;
	height: 8vh;
	border-radius: 10px 10px 10px 10px

}